@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}
/* common code  */
.flex_code {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title {
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color: #070211;
    font-weight: 900;
    text-transform: capitalize;
}

.section_description {
    font-family: 'Inter', sans-serif;
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.common_btn{
    color: white;
    background-color: red;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
}
.discount_heading{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #F00;
}
.span_comn_color{
    color: #F00;
}



/* for header section  */
.banner_bg {
    max-width: 1080px;
    margin: 0 auto;
}

.banner_content {
    background-image: url('../images/BannerImage.png');
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 177px 0px;
}

.banner_bg .header_title {
    font-size: 60px;
    width: 700px;
    margin: 0 auto;
}

/* main section code  */
.main_section {
    max-width: 1080px;
    margin: 0 auto;
}

/* discount_section  */
.discount_section {
    text-align: center;
    margin: 50px;
}
.discount_section > h1 {
    margin-bottom: 25px;
}
.discount_section > p {
    color: #F00;
    font-weight: 500;
    font-weight: bold;
}
.discount_section > img{
    margin-top: 20px;
    width: 500px;
}

/* midnight_section code  */
.midnight_section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    color: white;
    padding: 0 100px;
    margin-bottom: 80px;
    border-radius: 9px;
}
.midnight_content > h2 {
    color: white;
    width: 328px;
    font-weight: bold;
}
.midnight_content > p {
    color: white;
    width: 500px;
    margin: 20px 0;
}

/* notice section code  */
.notice_section {
    background-color: rgba(255, 0, 0, 0.10);
    text-align: center;
    text-transform: capitalize;
    line-height: 26px;
    padding: 90px 0px;
    font-weight: 700;
    margin-bottom: 80px;
}
.notice_section > button{
    margin-top: 20px;
}

/* coming_soon_container code  */

.coming_soon_container {
    gap: 70px;
    margin-bottom: 80px;
}
.coming_soon_single_content p{
    margin: 10px 0;
}
.coming_soon_img{
    border: 5px solid red;
    border-radius: 50%;
    padding: 20px;
}
.coming_soon_single_content > h2 {
    font-weight: 900;
}

/* Holidays Sale code  */
.holyday_section{
    margin-bottom: 80px;
}
.holyday_content {
    text-align: center;
}
.holyday_content > h1 > span {
    color: black;
}
.holyday_content p{
    margin: 20px;
}
.holyday_main_body{
    text-align: right;
    position: relative;
}
.holyday_img_position {
    position: absolute;
    right: 274px;
    top: 87px;
}
.holyday_footer{
    position: relative;
}
.holyday_footer_img_position {
    position: absolute;
    right: 42%;
    bottom: 41px;
    height: 508px;
}
















/* gift item code  */


.gift_content {
    text-align: left;
}
.gift_content > h4{
    text-transform: uppercase;
    color: red;
}
.gift_content > h2{
    margin: 10px 0px;
}
.gift_content > p {
    margin-bottom: 21px;
    width: 500px;
}
.gift_item .gift_item_img {
    height: 300px;
    width: 345px;
}
.gift_item .flex_code{
    gap: 30px;
}
















/* Subscribe section code  */
.subscribe {
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 70px 176px;
    margin: 110px 0px;
    border-radius: 9px;
}
.subscribe img {
    height: 84px;
    width: 84px;
}
.subscribe h2 {
    margin: 20px 0px;
}
.subscribe p {
    margin-bottom: 20px;
}
form{
    text-align: center;
}
.subscribe input[type="text"]{
    display: inline-block;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 17px 0 0 17px;
}
.subscribe input[type="submit"] {
    display: inline-block;
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 0 17px 17px 0;
}

/* footer section  */
.footer_bg {
    background-color: #070211;
    color: #FFF;
    margin-bottom: 300px;
}

.footer_contract {
    padding: 69px 183px 20px 140px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer_address>p {
    line-height: 22px;
}

.footer_call ul {
    padding: 0;
    margin: 0;
}

.footer_call ul li {
    list-style: none;
}

.footer_call ul li img {
    height: 14px;
    width: 14px;
    margin-right: 10px;
}


/* footer_connect_us section  */
.footer_bg {
    padding: 0px 100px;
}

.footer_connect_us {
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer_connect_us ul {
    padding: 0;
    margin: 0;
}

.footer_connect_us ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 8px;
}

.footer_connect_us ul li img {
    height: 40px;
    width: 40px;
}

.footer_connect_us ul li a {
    text-decoration: none;
}

/* footer_subscribe section  */
.footer_copy_suscrb {
    padding: 24px 0px 67px 0px;
}